In [1]:
# Import dependencies
import pandas as pd

### Contacts DataFrame 
---
**Create a Contacts DataFrame that has the following columns:**
- A column named "contact_id"  that contains the unique number of the contact person.
- A column named "first_name" that contains the first name of the contact person.
- A column named "last_name" that contains the first name of the contact person.
- A column named "email" that contains the email address of the contact person

Then export the DataFrame as a `contacts.csv` CSV file.

In [2]:
pd.set_option('max_colwidth', 400)

In [3]:
# Read the data into a Pandas DataFrame
contact_info_df = pd.read_excel('Resources/contacts.xlsx', header=3)
contact_info_df.head()

                                                                                contact_info
0   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
1          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
2            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
3  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}
4        {"contact_id": 2199, "name": "Samuel Sorgatz", "email": "samuel.sorgatz@gmail.com"}

### Use Pandas to extract the contact data.

In [4]:
# Iterate through the contact_info_df and convert each row to a dictionary.
import json

    # Iterate through each dictionary (row) and get the values for each row using list comprehension.
    
    # Append the list of values for each row to a list. 
    

# Print out the list of values for each row.

In [5]:
# Create a contact_info DataFrame and add each list of values, i.e., each row 
# to the 'contact_id', 'name', 'email' columns.

In [6]:
# Check the datatypes of each column.

In [7]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column. 


# Drop the contact_name column

In [8]:
# Reorder the columns

In [9]:
# Check the datatypes a final time before exporting as a CSV file.

In [10]:
# Export the DataFrame as a CSV file. 
# df.to_csv("contacts.csv", index=False)

### Use regex to extract the contact data.

In [11]:
pd.set_option('max_colwidth', 400)
contact_info_df.head()

                                                                                contact_info
0   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
1          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
2            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
3  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}
4        {"contact_id": 2199, "name": "Samuel Sorgatz", "email": "samuel.sorgatz@gmail.com"}

In [12]:
# Extract the four-digit contact ID number.

In [13]:
# Check the datatypes

In [14]:
# Convert the "contact_id" column to an int64 data type.

In [15]:
# Extract the name of the contact and add it to a new column.

In [16]:
# Extract the email from the contacts and add the values to a new column.

In [17]:
# Create a copy of the contact_info_df with the 'contact_id', 'name', 'email' columns.

In [18]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column. 


# Drop the contact_name column

In [19]:
# Reorder the columns

In [20]:
# Check the datatypes one more time before exporting as a CSV file.